\---
layout: default
\---

- sponsors = [nil,
              {"logo":"/images/sponsors/compose__an_ibm_company.png","name":"Compose, an IBM company","url":"https://www.compose.io","this_month":250,"all_time":500,"since":"Mar 22, 2016","level":250},
              {"logo":"/images/sponsors/nikola_motor_company.png","name":"Nikola Motor Company","url":"http://www.nikolamotor.com","this_month":250,"all_time":250,"since":"May 13, 2016","level":250},
              {"logo":"/images/sponsors/tpberntsen.jpg","name":"tpberntsen","url":"https://github.com/tpberntsen","this_month":75,"all_time":600,"since":"Sep 20, 2015","level":75},
              {"logo":"/images/sponsors/rhs.jpg","name":"rhs","url":"https://www.rainforestqa.com/","this_month":75,"all_time":225,"since":"Feb 17, 2016","level":75},
              {"name":"isaacsloan","url":"https://github.com/isaacsloan","this_month":36,"all_time":214,"since":"Mar 24, 2016","level":25},
              {"name":"sdogruyol","url":"https://github.com/sdogruyol","this_month":25,"all_time":250,"since":"Jul 24, 2015","level":25},
              {"name":"Frank O'Hara","this_month":25,"all_time":225,"since":"Aug 16, 2015","level":25},
              {"name":"maxdemarzi","url":"http://twitter.com/maxdemarzi","this_month":25,"all_time":225,"since":"Aug 6, 2015","level":25},
              {"name":"PragTob","url":"http://pragtob.wordpress.com","this_month":25,"all_time":225,"since":"Aug 12, 2015","level":25},
              {"name":"Qard","url":"http://stephenbelanger.com","this_month":25,"all_time":225,"since":"Aug 21, 2015","level":25},
              {"name":"Sergio Gil","url":"https://github.com/porras","this_month":25,"all_time":185,"since":"Jul 27, 2015","level":25},
              {"name":"jeromegn","url":"https://github.com/jeromegn","this_month":25,"all_time":100,"since":"Jan 28, 2016","level":25},
              {"name":"qio-io","url":"https://github.com/raydf","this_month":25,"all_time":80,"since":"Dec 23, 2015","level":25},
              {"name":"Renich","url":"https://github.com/renich","this_month":25,"all_time":75,"since":"Feb 1, 2016","level":25},
              {"name":"fg","url":"http://www.fatihgursoy.com","this_month":25,"all_time":50,"since":"Mar 11, 2016","level":25},
              {"name":"waterlink","url":"https://github.com/waterlink","this_month":25,"all_time":50,"since":"Mar 2, 2016","level":25},
              {"name":"drosehn","url":"https://github.com/drosehn","this_month":16,"all_time":76,"since":"Dec 3, 2015","level":10},
              {"name":"gottlike","url":"https://github.com/gottlike","this_month":15,"all_time":235,"since":"Jul 29, 2015","level":10},
              {"name":"Tom de Bruijn","url":"http://tomdebruijn.com","this_month":10,"all_time":170,"since":"Aug 23, 2015","level":10},
              {"name":"opes","url":"https://github.com/opes","this_month":10,"all_time":124,"since":"Feb 26, 2016","level":10},
              {"name":"havenwood","url":"https://github.com/havenwood","this_month":10,"all_time":95,"since":"Jul 23, 2015","level":10},
              {"name":"chendo ","this_month":10,"all_time":90,"since":"Aug 11, 2015","level":10},
              {"name":"ddfreyne","url":"https://github.com/ddfreyne","this_month":10,"all_time":90,"since":"Aug 17, 2015","level":10},
              {"name":"paulgoetze","url":"https://github.com/paulgoetze","this_month":10,"all_time":90,"since":"Aug 14, 2015","level":10},
              {"name":"etmnk","url":"https://github.com/ucmsky","this_month":10,"all_time":70,"since":"Oct 23, 2015","level":10},
              {"name":"Peter Hollows","url":"https://github.com/captainpete","this_month":10,"all_time":60,"since":"Nov 13, 2015","level":10},
              {"name":"vegai","url":"https://github.com/vegai","this_month":10,"all_time":30,"since":"Aug 18, 2015","level":10},
              {"name":"risyasin","url":"https://github.com/risyasin","this_month":10,"all_time":20,"since":"Mar 17, 2016","level":10},
              {"name":"vagmi","url":"https://github.com/vagmi","this_month":10,"all_time":20,"since":"Mar 20, 2016","level":10},
              {"name":"arambert","url":"https://github.com/arambert","this_month":10,"all_time":10,"since":"Apr 27, 2016","level":10},
              {"name":"ayosec","this_month":7,"all_time":55,"since":"Aug 20, 2015","level":5},
              {"name":"pine613","url":"https://github.com/pine","this_month":5,"all_time":50,"since":"Jul 24, 2015","level":5},
              {"name":"rosylilly","url":"https://github.com/rosylilly","this_month":5,"all_time":50,"since":"Aug 4, 2015","level":5},
              {"name":"suin","url":"https://github.com/suin","this_month":5,"all_time":50,"since":"Aug 7, 2015","level":5},
              {"name":"dahofer","url":"https://github.com/dahofer","this_month":5,"all_time":45,"since":"Aug 6, 2015","level":5},
              {"name":"tommasop","url":"https://github.com/tommasop","this_month":5,"all_time":45,"since":"Aug 6, 2015","level":5},
              {"name":"dbackeus","url":"https://github.com/dbackeus","this_month":5,"all_time":40,"since":"Aug 7, 2015","level":5},
              {"name":"theocodes","url":"https://github.com/theocodes","this_month":5,"all_time":40,"since":"Sep 11, 2015","level":5},
              {"name":"method3000","url":"https://github.com/tristil","this_month":5,"all_time":35,"since":"Jul 27, 2015","level":5},
              {"name":"nikolay","url":"https://nikolay.com","this_month":5,"all_time":35,"since":"Oct 13, 2015","level":5},
              {"name":"funny-falcon","url":"https://github.com/funny-falcon","this_month":5,"all_time":30,"since":"Jul 24, 2015","level":5},
              {"name":"Sadin","url":"http://sadin.me","this_month":5,"all_time":30,"since":"Nov 21, 2015","level":5},
              {"name":"ealdent","url":"https://github.com/ealdent","this_month":5,"all_time":25,"since":"Dec 29, 2015","level":5},
              {"name":"rhelsing","url":"https://github.com/rhelsing","this_month":5,"all_time":20,"since":"Jan 27, 2016","level":5},
              {"name":"thermes","url":"https://github.com/thermes","this_month":5,"all_time":20,"since":"Jan 28, 2016","level":5},
              {"name":"Raimondas Valickas","this_month":5,"all_time":15,"since":"Feb 10, 2016","level":5},
              {"name":"Blumenversand","url":"https://blumenversender.com","this_month":5,"all_time":10,"since":"Mar 14, 2016","level":5},
              {"name":"boie0025","url":"https://github.com/boie0025","this_month":5,"all_time":10,"since":"Mar 28, 2016","level":5},
              {"name":"vermosi","url":"https://github.com/vermosi","this_month":5,"all_time":10,"since":"Mar 21, 2016","level":5},
              {"name":"mirek","url":"https://github.com/mirek","this_month":5,"all_time":5,"since":"Apr 9, 2016","level":5},
              {"name":"olbat","url":"https://github.com/olbat","this_month":5,"all_time":5,"since":"Apr 18, 2016","level":5},
              {"name":"paulfri","url":"https://github.com/paulfri","this_month":5,"all_time":5,"since":"Apr 16, 2016","level":5},
              {"name":"ruivieira","url":"https://github.com/ruivieira","this_month":5,"all_time":5,"since":"Apr 2, 2016","level":5},
              {"name":"dark-eye","this_month":2,"all_time":12,"since":"Nov 2, 2015","level":1},
              {"name":"nicck","this_month":2,"all_time":10,"since":"Nov 9, 2015","level":1},
              {"name":"iconoclast","this_month":2,"all_time":8,"since":"Dec 25, 2015","level":1},
              {"name":"Martin Luder","this_month":1,"all_time":9,"since":"Aug 14, 2015","level":1},
              {"name":"claptimes5","this_month":1,"all_time":8,"since":"Sep 21, 2015","level":1},
              {"name":"Shigenobu Nishikawa","this_month":1,"all_time":7,"since":"Oct 23, 2015","level":1},
              {"name":"Gebriel Abebe","this_month":1,"all_time":6,"since":"Feb 8, 2016","level":1},
              {"name":"premist","this_month":1,"all_time":3,"since":"Feb 22, 2016","level":1},
              {"name":"dpisarewski","this_month":1,"all_time":2,"since":"Mar 12, 2016","level":1},
              {"name":"philipp-spiess","this_month":1,"all_time":2,"since":"Mar 13, 2016","level":1},
              {"name":"Stuk4","this_month":1,"all_time":1,"since":"Apr 20, 2016","level":1},
             ].compact


%section
  %h1 Our sponsors

  %p
    These are the companies and individuals contributing a monthly amount to help sustain Crystal's development. See the
    %a{href: "https://salt.bountysource.com/teams/crystal-lang", target: "_blank"} Bountysource campaign
    for more details.


  %dl
    - sponsors.each do |sp|
      %dt.clearfix.sponsor{class: "level-#{sp[:level]}"}
        .col-logo
          - if sp[:logo]
            %div.logo
              - if sp[:url]
                %a{href: sp[:url], target: "_blank"}
                  %img{src: sp[:logo]}
              - else
                %img{src: sp[:logo]}
          - else
            &nbsp;
        %div.name
          - if sp[:url]
            %a{href: sp[:url], target: "_blank"}
              = sp[:name]
          - else
            = sp[:name]
        %div.this_month= "$#{sp[:this_month]}"
        %div.legend
          = "$#{sp[:all_time]}"
          since
          = sp[:since]
